@page "/play/{rulesetString?}/{boardString?}/{movesString?}"
@using System.Text.Json
@using ChessByUrl.Rules
@using ChessByUrl.Rules.Rulesets.Orthodox
@model PlayModel

@section WidgetPanel
{
    <div id="gameInfo" class="widget">
        @if (Model.Game != null)
        {
            var status = Model.Game.Status;
            if (status.IsFinished)
            {
                <h3>Game Over!</h3>
                @if (status.PlayerPoints != null)
                {
                    var pointStrings = status.PlayerPoints.OrderBy(p => p.player.Id).Select(p => p.points == 0.5m ? "1/2" : p.points.ToString()).ToArray();
                    <div>Points: @string.Join(" - ", pointStrings)</div>
                }
            }
            <div>
                @if (status.StatusStrings != null)
                {
                    foreach ((Player? player, string statusString) in status.StatusStrings)
                    {
                        if (player == null)
                        {
                            <p>@char.ToUpper(statusString[0]) + statusString.Substring(1).</p>
                        }
                        else
                        {
                            <p>@($"{player.Name} {statusString}.")</p>
                        }
                    }
                }
            </div>
        }
    </div>
    <div id="promotions" class="widget start-align hidden">
        <h4>Promote to</h4>
        @if (Model.Game != null)
        {
            var pieceSet = OrthodoxPieceTypes.Player(Model.Game.CurrentPlayer.Id);
            PieceType[] promotionPieceTypes = [pieceSet.Queen, pieceSet.Rook, pieceSet.Bishop, pieceSet.Knight];
            <div>
                @for (int i = 0; i < promotionPieceTypes.Length; i++)
                {
                    <div class="promotionSelection" data-variant="i">
                        <img src="/images/@promotionPieceTypes[i].SvgFileName" alt="@promotionPieceTypes[i].Name" onclick="onPromotionClick(i)" />
                    </div>
                }
            </div>
        }
    </div>
    <div id="moveList" class="widget">
        @if (Model.Game != null)
        {
            var moves = Model.Game.MovesSoFar.ToList();
            var gameSoFar = new Game(Model.Game.Ruleset, Model.Game.InitialBoard);
            if (moves.Count > 0)
            {
                <table>
                    <tr>
                        <th></th>
                        <th>White</th>
                        <th>Black</th>
                    </tr>
                    @foreach (var notation in Model.GetMoveNotations())
                    {
                        <tr>
                            <th>@notation.MoveNumber</th>
                            <td>@notation.WhiteHalfMove</td>
                            <td>@notation.BlackHalfMove</td>
                        </tr>
                    }
                </table>
            }
        }
    </div>
    <div id="controlList" class="widget">
        <h4>Share</h4>
        <div class="control">
            <div class="description">Linked image</div>
            <div><a class="btn btn-primary btn-sm" onclick="navigator.clipboard.writeText('@Model.GetLinkedImageHtml()')">Copy HTML</a></div>
            <div><a class="btn btn-primary btn-sm" onclick="navigator.clipboard.writeText('@Model.GetLinkedImageMarkdown()')">Copy Markdown</a></div>
        </div>
        <div class="control">
            <div class="description">Image only</div>
            <div><a class="btn btn-success btn-sm" href="@Model.GetCurrentPositionUrl("svg")">View</a></div>
            <div><a class="btn btn-primary btn-sm" onclick="navigator.clipboard.writeText('@Model.GetCurrentPositionUrl("svg")')">Copy URL</a></div>
        </div>
        <div class="control">
            <div class="description">Restart game</div>
            <div><a class="btn btn-success btn-sm" href="@Model.GetRestartGameUrl()">View</a></div>
            <div><a class="btn btn-primary btn-sm" onclick="navigator.clipboard.writeText('@Model.GetRestartGameUrl()')">Copy URL</a></div>
        </div>
        <div class="control">
            <div class="description">Set restart point</div>
            <div><a class="btn btn-success btn-sm" href="@Model.GetRestartFromThisPositionUrl()">View</a></div>
            <div><a class="btn btn-primary btn-sm" onclick="navigator.clipboard.writeText('@Model.GetRestartFromThisPositionUrl()')">Copy URL</a></div>
        </div>
    </div>
}

<div class="board-wrapper">
    @if (Model.Game?.CurrentBoard != null && Model.MovesFromSquare != null)
    {
        <table class="board showMoveFrom">
            <tr>
                <th class="coordCorner" />
                @for (int file = 0; file < Model.Game.CurrentBoard.Ranks[0].Count; file++)
                {
                    <th class="file">@((char)('a' + file))</th>
                }
                <th class="coordCorner" />
            </tr>
            @for (int rank = Model.Game.CurrentBoard.Ranks.Count - 1; rank >= 0; rank--)
            {
                <tr>
                    <th class="rank">@(rank + 1)</th>
                    @for (int file = 0; file < Model.Game.CurrentBoard.Ranks[rank].Count; file++)
                    {
                        var coords = new Coords(rank, file);
                        var piece = Model.Game.CurrentBoard.Ranks[rank][file];
                        var movesFrom = Model.MovesFromSquare.GetValueOrDefault(coords.ToString()) ?? [];

                        var squareClass = "square";
                        squareClass += (rank + file) % 2 == 0 ? " light" : " dark";
                        squareClass += (movesFrom.Any()) ? " moveFrom" : "";

                        <td class="@squareClass" onclick="onSquareClick(this)"
                            data-coords="@coords.ToString()"
                            data-moveFrom="@JsonSerializer.Serialize(movesFrom)">
                            @if (piece != null)
                            {
                                <img src="/images/@piece.SvgFileName" alt="@piece.Name" />
                            }
                        </td>
                    }
                    <th class="coordLabel">@(rank + 1)</th>
                </tr>
            }
            <tr>
                <th class="coordCorner" />
                @for (int file = 0; file < Model.Game.CurrentBoard.Ranks[0].Count; file++)
                {
                    <th class="file">@((char)('a' + file))</th>
                }
                <th class="coordCorner" />
            </tr>
        </table>
    }
</div>